{% extends 'admin/index.html.twig' %}
{% form_theme userForm 'bootstrap_5_layout.html.twig' %}
{% form_theme enterpriseForm 'bootstrap_5_layout.html.twig' %}
 {% block javascripts %}
     <script
             src="https://code.jquery.com/jquery-3.6.0.min.js"
             integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
             crossorigin="anonymous"
     ></script>
     <script src="{{ asset('Javascripts/AdminUserForm.js') }}"></script>
     <script src="{{ asset('Javascripts/AdminEntrepriseCheck.js') }}"></script>
 {% endblock %}
  {% block stylesheets %}
      {#        {{ parent() }} #}
  {% endblock %}
{% block body %}
    {{ parent() }}

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="home" role="tabpanel">
            <section class="page-section  mt-0 bg-dark" id="sectionBooking">
                <div id="uList">
                    <h2 class="section-heading text-uppercase text-white">{{ "menu.booking" | trans }}</h2>
                    <table
                            class="table table-sm table-striped table-bordered table-hover table-dark table-responsive-md"
                            style="margin: auto; width: 80%">
                        <thead>
                        <tr>
                            <th>{{ "modal.booking.client" | trans }}</th>
                            <th>{{ "modal.booking.bookingDate" | trans }}</th>
                            <th>{{ "modal.booking.passengers" | trans }}</th>
                            <th>{{ "modal.booking.type" | trans }}</th>
                            <th>{{ "modal.booking.price" | trans }}</th>
                            <th>{{ "modal.booking.status" | trans }}</th>
                            <th>{{ "modal.booking.details" | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in page %}
                            <tr>
                                <td>{{ order.user.lastname }} {{ order.user.firstname }}</td>
                                <td>{{ order.bookingDate | format_datetime(locale='fr') }}</td>
                                <td>{{ order.passenger }}</td>
                                <td>{{ order.bookingTypeEnum.value }}</td>
                                <td>{{ order.totalPrice }}</td>
                                <td>{{ order.status.value }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-outline-primary btn-modal"
                                            data-toggle="modal"
                                            data-target="#modal-form" data-id="{{ order.id }}" id="modal-btn"><i
                                                class="fa-solid fa-circle-info"></i></button>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">Aucune réservation à afficher</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(page) }}
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="userAdd" role="tabpanel">
            <section class="page-section bg-dark" id="sectionUserForm">
                <h2 class="section-heading text-uppercase text-white">{{ "menu.userCreation" | trans }}</h2>
                {{ form_start(userForm,{'attr':{'id':'AdminUserForm','class':'form-floating' }}) }}
                <div class="row align-items-stretch m-5">
                    <div class="col-md-2">
                        <div class="form-group text-white">
                            <!-- LastName input !-->
                            {{ form_row(userForm.last_name, {'class':(userForm.last_name.vars.valid ? '' : 'is-invalid')}) }}
                            <div id="lastNameError" hidden="true"
                                 class="alert alert-danger col-md-12 col-md-offset-3">
                                Veuillez indiquer un nom.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group text-white">
                            <!-- FirstName input !-->
                            {{ form_row(userForm.first_name, {'class':(userForm.first_name.vars.valid ? '' : 'is-invalid')}) }}
                            <div id="firstNameError" hidden="true"
                                 class="alert alert-danger col-md-12 col-md-offset-3">
                                Veuillez indiquer un prénom.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group  text-white">
                            {{ form_row(userForm.phone, {'class':(userForm.phone.vars.valid ? '' : 'is-invalid')}) }}
                            <div id="phoneError" hidden="true" class="alert alert-danger col-md-12 col-md-offset-3">
                                Veuillez indiquer un numéro de téléphone.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group text-white">
                            <!-- email input !-->
                            {{ form_row(userForm.email,{ 'attr':{'class':(userForm.email.vars.valid ? '' : 'is-invalid')}}) }}
                            <div id="emailFormatError" hidden="true"
                                 class="alert alert-danger col-md-12 col-md-offset-3">l'adresse mail n'est pas
                                valide.
                            </div>
                            <div id="emailUsedError" hidden="true"
                                 class="alert alert-danger col-md-12 col-md-offset-3">
                                L'adresse mail est déjà utilisée.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group text-white">
                            <!-- password input !-->
                            {{ form_row(userForm.password,{ 'attr':{'class':(userForm.password.vars.valid | length ? '' : 'is-invalid') }} ) }}
                            <div id="passwordError" hidden="true"
                                 class="alert alert-danger col-md-12 col-md-offset-3">
                                Le mot de passe doit contenir 1 majuscule, 1 minuscule, 1 nombre et 1 caractère
                                spécial
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group text-white">
                            <!-- confirmPassword input !-->
                            {{ form_row(userForm.confirmPassword, { 'attr':{'class':(userForm.confirmPassword.vars.valid | length ? '' : 'is-invalid') }}) }}
                            <div id="confirmPasswordError" hidden="true"
                                 class="alert alert-danger col-md-12 col-md-offset-3">Les mots de passe doivent être
                                identiques
                            </div>
                        </div>
                    </div>
                    {% if role is defined and role == 'ROLE_ADMIN' %}
                        <div class="col-md-2">
                            <div class="form-group text-white">
                                {{ form_row(userForm.role) }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="text-center">
                        <div class="form-group text-white">
                            <!-- Submit button !-->
                            {{ form_widget(userForm._token) }}
                            <button id="AdminBtnUserForm" type="submit"
                                    class="btn btn-primary btn-xl text-uppercase ">
                                Envoyer
                            </button>
                        </div>
                    </div>
                    {{ form_end(userForm, {render_rest: false}) }}
                </div>
            </section>
        </div>
        {% if role is defined and role == 'ROLE_ADMIN' %}
            <div class="tab-pane fade" id="entrepriseEdit" role="tabpanel">
                <section class="page-section bg-dark text-white" id="sectionEntrepriseEdit">
                    <div class="d-flex justify-content-center">
                        {{ form_start(enterpriseForm,{'attr':{'id':'enterpriseForm' }}) }}
                        <h2 class="section-heading text-uppercase text-white">{{ "menu.enterpriseInformation" | trans }}</h2>
                        <div class="row-cols-2">
                            <div class="form-group">
                                {{ form_row(enterpriseForm.name) }}
                            </div>
                        </div>
                        <div class="row-cols-2">
                            <div class="form-group">
                                {{ form_row(enterpriseForm.email) }}
                            </div>
                        </div>
                        <div class="row-cols-2">
                            <div class="form-group">
                                {{ form_row(enterpriseForm.phone) }}
                            </div>
                        </div>
                        <div class="row-cols-2">
                            <div class="form-group">
                                {{ form_row(enterpriseForm.vat) }}
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="form-group">
                                {{ form_widget(enterpriseForm._token) }}
                                <button id="btnenterpriseForm" type="submit"
                                        class="btn btn-primary btn-xl text-uppercase ">
                                    Modifier
                                </button>
                            </div>
                        </div>
                        {{ form_end(enterpriseForm, {render_rest: false}) }}
                    </div>
                </section>
            </div>
        {% endif %}
    </div>
{% endblock %}